<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
    <div class="container">

        <div class="navbar-left">
            <button class="navbar-toggler" type="button">&#9776;</button>
            <a class="navbar-brand" href="#">
                <img class="logo-dark" src="../assets/img/logo/logo.png" alt="logo">
                <img class="logo-light" src="../assets/img/logo/logo.png" alt="logo">
            </a>
        </div>

        <section class="navbar-mobile">
            <nav class="nav nav-navbar ml-auto">
                <a class="nav-link" href="#">Inicio</a>
                <a class="nav-link" href="#">Atencion</a>
                <a class="nav-link" href="#">Empresa</a>
                <a class="nav-link" href="#">Noticias</a>
                <a class="nav-link" href="#">Servicios</a>
                <a class="nav-link" href="#">contacto</a>
                <a class="nav-link" href="#">atencion domiciliaria</a>
            </nav>
        </section>

    </div>
</nav>
<!-- /.navbar -->


<!-- Header -->
<header class="header h-fullscreen" style="background-image: url(../assets/img/bg/bg2.jpg)">
    <div class="overlay opacity-95" style="background-image: linear-gradient(135deg, #fff 0%, #fff 40%, transparent 100%);"></div>
    <div class="container">
        <div class="row align-items-center h-100">

            <div class="col-md-8 col-lg-6">
                <h1 class="display-4"><strong>Profesionales a tu servicio</strong></h1>
                <p class="lead-2 mt-5 mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p class="gap-xy">
                    <a class="btn btn-xl btn-round btn-primary mw-200" href="#">Contacto</a>
                    <a class="btn btn-xl btn-round btn-outline-primary mw-200" href="#">WHATSAPP</a>
                </p>
            </div>

        </div>
    </div>
</header>
<!-- /.header -->


<!-- Main Content -->
<main class="main-content">

    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Products
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
    <section class="section">
        <div class="container">
            <header class="section-header">
                <small>Productos</small>
                <h2>Trabajar juntos es mejor</h2>
                <hr>
                <p class="lead">Nuestros servicios permiten a las personas ser más confiables, flexibles y comprometidas. Ayudar a mejorar la comunicación y dar sentido al cuidado humano holístico e integral.</p>
            </header>


            <div class="row gap-y">

                <div class="col-6 col-md-4 col-xl-2">
                    <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                        <p style="color: #78a300"><i class="icon-lightbulb lead-7"></i></p>
                        <h6 class="mb-0"><strong>Soporte</strong></h6>
                    </a>
                </div>


                <div class="col-6 col-md-4 col-xl-2">
                    <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                        <p style="color: #eb4a62"><i class="icon-book-open lead-7"></i></p>
                        <h6 class="mb-0"><strong>Guía</strong></h6>
                    </a>
                </div>


                <div class="col-6 col-md-4 col-xl-2">
                    <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                        <p style="color: #f69a3e"><i class="icon-chat lead-7"></i></p>
                        <h6 class="mb-0"><strong>Comunicación</strong></h6>
                    </a>
                </div>


                <div class="col-6 col-md-4 col-xl-2">
                    <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                        <p style="color: #f0c93e"><i class="icon-mic lead-7"></i></p>
                        <h6 class="mb-0"><strong>Escucha activa</strong></h6>
                    </a>
                </div>


                <div class="col-6 col-md-4 col-xl-2">
                    <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                        <p style="color: #37b8af"><i class="icon-envelope lead-7"></i></p>
                        <h6 class="mb-0"><strong>Mensajería</strong></h6>
                    </a>
                </div>


                <div class="col-6 col-md-4 col-xl-2">
                    <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                        <p style="color: #2faabc"><i class="icon-piechart lead-7"></i></p>
                        <h6 class="mb-0"><strong>Mejora continua</strong></h6>
                    </a>
                </div>

            </div>
        </div>
    </section>


    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Video
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
    <section class="section text-white" style="background-image: url(../assets/img/avatar/video.PNG" data-overlay="3">
        <div class="container">
            <header class="section-header">
                <h2>Ver video</h2>
                <hr>
                <p class="lead-3">Inicia el sistema de cuidado con el que tu familia siempre ha soñado.</p>
            </header>


            <div class="text-center mb-7">
                <a class="btn btn-xl btn-glass btn-circle btn-light" href="https://www.youtube.com/watch?v=mgei9KtonZc" data-provide="lightbox"><i class="fa fa-play"></i></a>
            </div>

        </div>
    </section>


    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Features
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
    <section class="section">
        <div class="container">

            <div class="row gap-y align-items-center">
                <div class="col-md-5 ml-auto">
                    <h4>Nuestra vocación es el servicio</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>

                <div class="col-md-5 text-center order-md-first">
                    <img class="imagen" src="../assets/img/vector/image1.gif" alt="...">
                </div>
            </div>


            <hr class="my-8">


            <div class="row gap-y align-items-center">
                <div class="col-md-5 mr-auto">
                    <h4>Cuidamos tu línea de vida</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>

                <div class="col-md-5">
                    <img class="imagen" src="../assets/img/vector/image2.jpg" alt="...">
                </div>
            </div>


        </div>
    </section>


    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Signup
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
    <section class="section bg-gray">
        <div class="container">

            <h3 class="text-center fw-200"><strong>Únete a</strong> línea de vida y conocenos</h3>

            <form class="row gap-y mt-7">
                <div class="col-md-6 col-lg-3">
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>

                <div class="col-md-6 col-lg-3">
                    <input type="text" class="form-control" placeholder="Email">
                </div>

                <div class="col-md-6 col-lg-3">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>

                <div class="col-md-6 col-lg-3">
                    <button class="btn btn-block btn-success h-100">Enviar</button>
                </div>
            </form>

        </div>
    </section>


    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Partner
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
    <section class="section bg-gray">
        <div class="container">
            <h3 class="text-center fw-200 pb-5"><strong>Alianzas</strong></h3>
            <div data-provide="slider" data-autoplay="true" data-slides-to-show="4">
                <div><img src="../assets/img/partner/1.png" alt="partner 1"></div>
                <div><img src="../assets/img/partner/2.png" alt="partner 2"></div>
                <div><img src="../assets/img/partner/3.png" alt="partner 3"></div>
                <div><img src="../assets/img/partner/4.png" alt="partner 4"></div>
                <div><img src="../assets/img/partner/5.png" alt="partner 5"></div>
                <div><img src="../assets/img/partner/6.png" alt="partner 6"></div>
            </div>

        </div>
    </section>

</main>


<!-- Footer -->
<footer class="footer text-white bg-img bg-fixed" style="background-image: url(../assets/img/vector/9.jpg)" data-overlay="8">
    <div class="container py-7">
        <div class="row gap-y">

            <div class="col-6 col-md-4 col-xl-2">
                <h6 class="mb-4"><strong>EMPRESA</strong></h6>
                <div class="nav flex-column">
                    <a class="nav-link" href="#">Acerca de</a>
                    <a class="nav-link" href="#">Quienes somos</a>
                    <a class="nav-link" href="#">Lorem</a>
                    <a class="nav-link" href="#">Lorem</a>
                </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
                <h6 class="mb-4"><strong>SERVICIOS</strong></h6>
                <div class="nav flex-column">
                    <a class="nav-link" href="#">Lorem</a>
                    <a class="nav-link" href="#">Lorem</a>
                    <a class="nav-link" href="#">Lorem</a>
                    <a class="nav-link" href="#">Lorem</a>
                </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
                <h6 class="mb-4"><strong>NOTICIAS</strong></h6>
                <div class="nav flex-column">
                    <a class="nav-link" href="#">Blog</a>
                    <a class="nav-link" href="#">Recientes</a>
                    <a class="nav-link" href="#">Eventos</a>
                    <a class="nav-link" href="#">Lorem</a>
                </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
                <h6 class="mb-4"><strong>CONTACTO</strong></h6>
                <div class="nav flex-column">
                    <a class="nav-link" href="#">Dirección</a>
                    <a class="nav-link" href="#">Teléfono</a>
                    <a class="nav-link" href="#">WHATSAPP</a>
                    <a class="nav-link" href="#">Lorem</a>
                </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
                <h6 class="mb-4"><strong>ATENCION DOMICILIARIA</strong></h6>
                <div class="nav flex-column">
                    <a class="nav-link" href="#">Ciclo de atención</a>
                    <a class="nav-link" href="#">Guias</a>
                </div>
            </div>

            <div class="col-6 col-md-4 col-xl-2">
                <h6 class="mb-4"><strong>PREGUNTAS FRECUENTES</strong></h6>
                <div class="nav flex-column">
                    <a class="nav-link" href="#">Acerca de</a>
                    <a class="nav-link" href="#">Lorem</a>

                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row gap-y">

            <div class="col-md-6 text-center text-md-left">
                <small class="opacity-70">© 2019 TheThemeio. All rights reserved.</small>
            </div>

            <div class="col-md-6 text-center text-md-right">
                <div class="social">
                    <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="social-youtube" href="#"><i class="fa fa-youtube"></i></a>
                    <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- /.footer -->