<!-- Main Content -->
<main class="main-content">


    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Our Mission
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <section class="section">
        <div class="container">
            <div class="row gap-y">

                <div class="col-md-3 mr-md-auto">
                    <p class="lead-4 text-right">Passionate about creating templates for startups</p>
                </div>

                <div class="col-md-4">
                    <h6>Our Mission</h6>
                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure.</p>
                </div>

                <div class="col-md-4">
                    <h6>Our Vision</h6>
                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure.</p>
                </div>

            </div>
        </div>
    </section>


    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Services
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <section class="section bg-gray">
        <div class="container">
            <header class="section-header">
                <small>Services</small>
                <h2>Our Services</h2>
                <hr>
                <p class="lead">Join thousands of satisfied customers using our template globally.</p>
            </header>


            <div class="row gap-y">

                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center bg-success text-white">
                        <p class="my-5"><i class="icon-browser lead-6"></i></p>
                        <h5 class="mb-5 fw-500"><a href="#">Web Design</a></h5>
                        <p>He polite be object change. Consider no overcame yourself sociable children.</p>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <p class="my-5"><i class="icon-mobile lead-6"></i></p>
                        <h5 class="mb-5 fw-500"><a href="#">Mobile App</a></h5>
                        <p>He polite be object change. Consider no overcame yourself sociable children.</p>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center bg-info text-white">
                        <p class="my-5"><i class="icon-linegraph lead-6"></i></p>
                        <h5 class="mb-5 fw-500"><a href="#">Digital Marketing</a></h5>
                        <p>He polite be object change. Consider no overcame yourself sociable children.</p>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card card-body shadow-3 text-center">
                        <p class="my-5"><i class="icon-megaphone lead-6"></i></p>
                        <h5 class="mb-5 fw-500"><a href="#">Branding Package</a></h5>
                        <p>He polite be object change. Consider no overcame yourself sociable children.</p>
                    </div>
                </div>

            </div>


        </div>
    </section>


    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Process
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <section class="section">
        <div class="container">
            <header class="section-header">
                <h2>The Work Process</h2>
                <hr>
                <p class="lead">Explore the best SaaS template in the market in a short 1-minute video.</p>
            </header>


            <div class="row align-items-center">

                <div class="col-md-6">
                    <div class="video-btn-wrapper">
                        <img class="shadow-4 rounded-lg" src="../assets/img/thumb/6.jpg" alt="watch a video">
                        <a class="btn btn-circle btn-xl btn-info" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <ol class="step">
                        <li class="step-item">
                            <div class="step-icon">
                                <span class="iconbox">1</span>
                            </div>

                            <div class="step-content">
                                <h6><strong>Write your requirements</strong></h6>
                                <p>Think the or organization same proposal to affected heard reclined in be it reassuring.</p>
                            </div>
                        </li>

                        <li class="step-item">
                            <div class="step-icon">
                                <span class="iconbox">2</span>
                            </div>

                            <div class="step-content">
                                <h6><strong>Sign the contract</strong></h6>
                                <p>Think the or organization same proposal to affected heard reclined in be it reassuring.</p>
                            </div>
                        </li>

                        <li class="step-item">
                            <div class="step-icon">
                                <span class="iconbox">3</span>
                            </div>

                            <div class="step-content">
                                <h6><strong>We start developing</strong></h6>
                                <p>Think the or organization same proposal to affected heard reclined in be it reassuring.</p>
                            </div>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </section>


    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Testimonial
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <section class="section py-9" style="background-image: url(../assets/img/thumb/18.jpg)">
        <div class="overlay opacity-90" style="background-image: linear-gradient(90deg, #fff 0%, transparent 100%);"></div>
        <div class="container">

            <div class="row">
                <div class="col-10 col-md-7 col-xl-5">
                    <div class="section-dialog shadow-4">
                        <h5 class="fw-500">Highly recommend this template</h5>
                        <blockquote class="blockquote text-left lead-1 mb-0 mt-5">
                            <p>All it harmonics; Such based to pity of and rank people brief three their time and the this the should service employed.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>
    </section>


</main>
<!-- /.main-content -->