
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(255, 255, 255, 0.99);
box-shadow: 0 1px 9px rgba(0, 0, 0, 0.05);top:0" data-navbar="fixed">
    <div class="container">

        <div class="navbar-left">
            <button class="navbar-toggler" type="button">&#9776;</button>
            <a class="navbar-brand" href="#">
                <img class="logo-dark" src="../assets/img/logo/logo.png" alt="logo">
                <img class="logo-light" src="../assets/img/logo/logo.png" alt="logo">
            </a>
        </div>

        <section class="navbar-mobile">
            <nav class="nav nav-navbar ml-auto">
                <a class="nav-link" href='/inicio'>Inicio</a>
                <a class="nav-link" href='/atencion'>Atencion</a>
                <a class="nav-link" href='/empresa'>Empresa</a>
                <a class="nav-link" href='/noticias'>Noticias</a>
                <a class="nav-link" href='/servicios'>Servicios</a>
                <a class="nav-link" href='/contacto'>contacto</a>
                <a class="nav-link" href='/preguntasfrecuentes'>preguntas frecunetes</a>
            </nav>
        </section>

    </div>
</nav>
<!-- /.navbar -->


