<!-- Main Content -->
<main class="main-content">

    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Breadcrumbs
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <nav class="bb-1" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb px-0">
                <li class="breadcrumb-item"><a href="index.html">Support</a></li>
                <li class="breadcrumb-item">Articles</li>
            </ol>
        </div>
    </nav>


    <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Content
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
    <article class="container py-8">
        <h1 class="display-4">List of Articles</h1>
        <div class="row">
            <div class="col-md-8">
                <p class="lead">Here's the categorized list of articles so you can easily find the one you need. We suggest to start by reading the articles in "Getting Started" category, choose which starter you want to use and proceed by reading articles of the selected
                    starter.
                </p>
            </div>
        </div>


        <hr class="my-7">

        <h3>Getting started</h3>
        <br>
        <h6>
            <i class="fa fa-file-text-o mr-3"></i>
            <a href="kb-start-directory-structure.html">Directory structure</a>
        </h6>

        <h6>
            <i class="fa fa-file-text-o mr-3"></i>
            <a href="kb-start-html-structure.html">HTML structure</a>
        </h6>

        <h6>
            <i class="fa fa-star text-warning mr-3"></i>
            <a href="kb-start-get-started.html">How to get started?</a>
        </h6>


        <hr class="hr-dash my-7">


        <h3>Basic starter template</h3>
        <br>
        <h6>
            <i class="fa fa-file-text-o mr-3"></i>
            <a href="kb-basic-what.html">What is the basic starter?</a>
        </h6>

        <h6>
            <i class="fa fa-file-text-o mr-3"></i>
            <a href="kb-basic-get-started.html">How to get started?</a>
        </h6>

        <h6>
            <i class="fa fa-file-text-o mr-3"></i>
            <a href="kb-basic-update.html">How to update to a new version?</a>
        </h6>

        <h6>
            <i class="fa fa-file-text-o mr-3"></i>
            <a href="kb-basic-plugin.html">How to add a 3rd-party plugin?</a>
        </h6>


        <hr class="hr-dash my-7">

        <div class="accordion accordion-connected shadow-5" id="accordion-job">

            <div class="card">
                <h6 class="card-title">
                    <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-1">
                        <strong class="mr-auto">Senior Analyst, Data Analytics</strong>
                        <span class="small text-lighter">San Francisco <i class="fa fa-map-marker ml-2"></i></span>
                    </a>
                </h6>

                <div id="collapse-job-1" class="collapse" data-parent="#accordion-job">
                    <div class="card-body">
                        <p>Use your extensive knowledge of JavaScript, HTML, and CSS to improve our web client, a complex in-browser application relied upon by millions of users every day. You will work with real-time data streams, engineer for performance
                            across browsers, and delight people by making the best software we can imagine. You will collaborate closely with Product, Design, Application Engineering, and QA to spec, build, test and deploy new features. This position
                            reports directly to the Director of Front-end Engineering.</p>

                        <hr class="w-100px">

                        <p class="text-center"><a class="btn btn-lg btn-primary" href="career-single.html">Apply Now</a></p>
                    </div>
                </div>
            </div>


            <div class="card">
                <h6 class="card-title">
                    <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-2">
                        <strong class="mr-auto">Senior Front-end Engineer</strong>
                        <span class="small text-lighter">Remotely <i class="fa fa-map-marker ml-2"></i></span>
                    </a>
                </h6>

                <div id="collapse-job-2" class="collapse" data-parent="#accordion-job">
                    <div class="card-body">
                        <p>Use your extensive knowledge of JavaScript, HTML, and CSS to improve our web client, a complex in-browser application relied upon by millions of users every day. You will work with real-time data streams, engineer for performance
                            across browsers, and delight people by making the best software we can imagine. You will collaborate closely with Product, Design, Application Engineering, and QA to spec, build, test and deploy new features. This position
                            reports directly to the Director of Front-end Engineering.</p>

                        <hr class="w-100px">

                        <p class="text-center"><a class="btn btn-lg btn-primary" href="career-single.html">Apply Now</a></p>
                    </div>
                </div>
            </div>


            <div class="card">
                <h6 class="card-title">
                    <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-3">
                        <strong class="mr-auto">Lead Product Designer</strong>
                        <span class="small text-lighter">New York City <i class="fa fa-map-marker ml-2"></i></span>
                    </a>
                </h6>

                <div id="collapse-job-3" class="collapse" data-parent="#accordion-job">
                    <div class="card-body">
                        <p>Use your extensive knowledge of JavaScript, HTML, and CSS to improve our web client, a complex in-browser application relied upon by millions of users every day. You will work with real-time data streams, engineer for performance
                            across browsers, and delight people by making the best software we can imagine. You will collaborate closely with Product, Design, Application Engineering, and QA to spec, build, test and deploy new features. This position
                            reports directly to the Director of Front-end Engineering.</p>

                        <hr class="w-100px">

                        <p class="text-center"><a class="btn btn-lg btn-primary" href="career-single.html">Apply Now</a></p>
                    </div>
                </div>
            </div>


            <div class="card">
                <h6 class="card-title">
                    <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-4">
                        <strong class="mr-auto">Online Advertising Manager</strong>
                        <span class="small text-lighter">Toronto, Canada <i class="fa fa-map-marker ml-2"></i></span>
                    </a>
                </h6>

                <div id="collapse-job-4" class="collapse" data-parent="#accordion-job">
                    <div class="card-body">
                        <p>Use your extensive knowledge of JavaScript, HTML, and CSS to improve our web client, a complex in-browser application relied upon by millions of users every day. You will work with real-time data streams, engineer for performance
                            across browsers, and delight people by making the best software we can imagine. You will collaborate closely with Product, Design, Application Engineering, and QA to spec, build, test and deploy new features. This position
                            reports directly to the Director of Front-end Engineering.</p>

                        <hr class="w-100px">

                        <p class="text-center"><a class="btn btn-lg btn-primary" href="career-single.html">Apply Now</a></p>
                    </div>
                </div>
            </div>


            <div class="card">
                <h6 class="card-title">
                    <a class="d-flex align-items-center collapsed" data-toggle="collapse" href="#collapse-job-5">
                        <strong class="mr-auto">Customer Support Manager</strong>
                        <span class="small text-lighter">San Francisco <i class="fa fa-map-marker ml-2"></i></span>
                    </a>
                </h6>

                <div id="collapse-job-5" class="collapse" data-parent="#accordion-job">
                    <div class="card-body">
                        <p>Use your extensive knowledge of JavaScript, HTML, and CSS to improve our web client, a complex in-browser application relied upon by millions of users every day. You will work with real-time data streams, engineer for performance
                            across browsers, and delight people by making the best software we can imagine. You will collaborate closely with Product, Design, Application Engineering, and QA to spec, build, test and deploy new features. This position
                            reports directly to the Director of Front-end Engineering.</p>

                        <hr class="w-100px">

                        <p class="text-center"><a class="btn btn-lg btn-primary" href="career-single.html">Apply Now</a></p>
                    </div>
                </div>
            </div>

        </div>



    </article>

</main>
<!-- /.main-content -->